body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://i.pinimg.com/564x/75/2c/2f/752c2f81872dc2d0f81407f74840ba25.jpg);
    background-attachment: fixed;
    background-size:cover;
}

header {
    background-color: #cbc0d2;
    padding: 10px;
    
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.menu a {
    color: black;
    text-decoration: none;
    
}
.volverInicio {
text-align: center;
background-color: #cbc0d2;
font-family: Arial, Helvetica, sans-serif;
margin: 0;
padding: 5px;
}